@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  .container {
    @apply mx-auto !max-w-[85%];
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* PrimeVue custom styles */
.p-select-clear-icon {
  @apply text-surface-500;
}
.p-toast-message-content {
  padding: 10px;
}
.p-toast-message-content > svg {
  margin-top: 2px;
}
.p-toast-message-text {
  gap: 0;
}
